@import "app/styles/lib";

.home-page {
  @include breakpoint(desktop) {
    display: flex;
  }
}

.home-about-me {
  margin-bottom: 30px;

  @include breakpoint(desktop) {
    flex: 0 0 30%;
    margin-right: 25px;
  }
}

.home-recent-posts {
  @include breakpoint(desktop) {
    flex: 1;
  }
}
