$site-colors: (
  blue: #007dba,
  dark-blue: #31708f,
  dark-gray: #666,
  gray: #999,
  light-blue: #b0e0f8,
  link: #0791d6,
  link-hover: #055f8c
);

@function get-color($name) {
  $color: map-get($site-colors, $name);

  @if $color == null {
    @error "There is no site color named #{$color}.";
  }

  @return $color;
}
