@import "app/styles/lib";

.page-404 {
  display: flex;
  flex-direction: column;
}

.message-404 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  @include el(graphic) {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: -10%;

    @include breakpoint(desktop) {
      font-size: 7rem;
    }
  }
}
