@import "app/styles/lib";

.social-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 15px 0 0;

  .social-link-title {
    @include sr-only();
  }

  a {
    display: block;
  }

  li {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }

  path {
    fill: currentColor;
  }
}
