@import "app/styles/lib";

.post-teaser {
  @include clearfix();

  @include el(title) {
    margin: 0 0 0.5rem;

    a {
      color: get-color(blue);

      &:hover,
      &:focus {
        color: get-color(dark-blue);
        text-decoration: none;
      }
    }
  }

  @include el(publish-date) {
    font-size: 90%;
    font-weight: bold;
  }

  @include el(image-thumbnail) {
    float: left;
    margin-right: 10px;
  }
}
