<!doctype html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>
  <body>
    <h1>Object.create({name: 'Will Hastings'});</h1>
    {{{body}}}
  </body>
</html>
