<!doctype html>
<html>
  <head>
    <title>ObjectDotCreate.net</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/app.css">
  </head>
  <body>
    <header class="site-header">
      <h1 class="site-header__heading">
        <a href="/">Will Hastings</a>
      </h1>
      <nav class="site-header__nav">
        <ul>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    {{{body}}}

    <footer class="site-footer">
      &copy; 2015 Will Hastings
    </footer>

    {{#if data}}
      <script type="text/json" id="init-data">{{{data}}}</script>
    {{/if}}

    <script src="/app/app.js"></script>

    {{#unless isProd}}
      <script src="//localhost:35729/livereload.js"></script>
    {{/unless}}
  </body>
</html>
