.button {
  appearance: none;
  border: 0;
  background-color: var(--color-main-accent);
  color: var(--color-text-invert);
  padding: 1rem 0;
}

.buttonActive {
  background-color: white;
  color: #000;
}
