@import "app/styles/lib";

.post-view-page {
  width: 100%;
}

.post {
  @include el(image) {
    display: block;
    margin: 0 auto 10px;
  }

  @include el(body) {
    pre {
      background: #1d1f21;
      color: #c5c8c6;
      padding: 15px;
    }
  }
}
