    <meta name="csrf-token" content="{{csrfToken}}">
    <title>{{title}}</title>
  </head>
  <body>
    <header class="site-header">
      <div class="wrapper">
        <h1 class="site-header__heading">
          <a href="/">Will Hastings</a>
        </h1>
        <nav class="site-header__nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
        </nav>
      </div>
    </header>

    {{!-- No whitespace in tag since React will render into it client-side --}}
    <main class="site-main">{{{html}}}</main>

    <footer class="site-footer">
      &copy; 2016 Will Hastings
    </footer>

    {{#if data}}
      <script type="text/json" id="init-data">{{{data}}}</script>
    {{/if}}
  </body>
</html>
