@import "app/styles/lib";

.admin-nav {
  display: flex;
  justify-content: space-between;

  @include breakpoint(desktop) {
    flex-direction: column;
  }

  @include el(links) {
    display: flex;
    font-size: 1.8rem;
    list-style: none;
    margin: 0;
    padding: 0;

    @include breakpoint(desktop) {
      flex-direction: column;
      font-size: 2.1rem;
      margin-bottom: 40px;
    }

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 20px;

      @include breakpoint(desktop) {
        margin-bottom: 1rem;
      }
    }
  }
}
