.header {
  background: var(--color-main-accent);
  margin-bottom: 1.45rem;
}

.siteTitle {
  margin: 0;
  margin-bottom: 0.3rem;
}

.tagline {
  margin-bottom: 0;
}

@media screen and (max-width: 400px) {
  .siteTitle {
    font-size: 2rem;
  }
}

.contentContainer {
  color: var(--color-text-invert);

  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 20px;
  align-items: center;

  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}

.socialLink {
  color: inherit;
}

.socialIcon {
  display: block;
}
