html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

body {
  background-color: get-color(light-gray);
  color: #595959;
  font-size: 1.6rem;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2rem;
}

li,
p {
  line-height: 2.4rem;
}

a {
  &,
  &:visited {
    color: get-color(link);
    text-decoration: none;
  }

  &:active,
  &:focus,
  &:hover {
    color: get-color(link-hover);
  }

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

button,
.btn {
  $blue: get-color(blue);
  $dark-blue: get-color(dark-blue);

  @include button(
    $border-color: $blue,
    $border-radius: 3px,
    $color: $blue,
    $hover-bg-color: $dark-blue,
    $hover-border-color: $dark-blue,
    $hover-color: #fff
  );

  padding: 6px 12px;
}

label {
  font-weight: 600;
}

input,
textarea {
  border: 1px solid get-color(gray);
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  margin: 5px 0 20px;
  outline-color: get-color(light-blue);
  width: 100%;
}

input {
  height: 3.5rem;
  padding: 0 10px;
}

textarea {
  min-height: 14.4rem;
  padding: 10px;
}
