html {
  height: 100%; // Needed for body to grow to height 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.site-header,
.site-footer {
  background: get-color(blue);
  color: #fff;
  flex-shrink: 0;
  padding: 15px;
  text-align: center;
}

.site-header {
  @include breakpoint(desktop) {
    padding-left: 0;
    padding-right: 0;
  }

  .wrapper {
    @include breakpoint(desktop) {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1200px;
      padding: 0 25px;
    }
  }

  @include el(heading) {
    margin: 0 0 1rem;

    @include breakpoint(desktop) {
      margin: 0;
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  @include el(nav) {
    @include breakpoint(desktop) {
      display: flex;
      flex-direction: column;
      font-size: 2rem;
      justify-content: center;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      margin-right: 10px;
      @include breakpoint(desktop) {
        margin-right: 20px;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      color: #fff;
      text-decoration: none;

      @include breakpoint(desktop) {
        position: relative;
      }
    }
  }
}

.site-main {
  box-sizing: border-box;
  display: flex;
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px;
  width: 100%;

  @include breakpoint(desktop) {
    padding: 25px;
  }
}

.page-title {
  background: #fff;
  border-top: 1px get-color(gray) solid;
  box-shadow: 0 1px 3px get-color(shadow);
  margin: -10px -10px 2rem;
  padding: 15px 10px;

  @include breakpoint(desktop) {
    margin: -26px 0 25px;
    text-align: center;
  }
}

.section-title {
  margin: 0 0 2rem;
  text-align: center;
}
