@import "app/styles/lib";

.admin-index-page {
  @include breakpoint(desktop) {
    display: flex;
    width: 100%;
  }

  .admin-sidebar {
    @include breakpoint(desktop) {
      flex: 0 0 20%;
      margin-right: 25px;
    }
  }

  .admin-post-index {
    @include breakpoint(desktop) {
      flex: 1;
    }
  }
}
