@import "app/styles/lib";

@keyframes spin-loading-indicator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-indicator {
  backface-visibility: hidden; // Force GPU acceleration.
  background: #fff;
  box-shadow: 0 -1px 3px get-color(shadow);
  bottom: 0;
  font-size: 2rem;
  font-weight: bold;
  left: 0;
  padding: 15px 0;
  position: fixed;
  right: 0;
  text-align: center;
  transform: translateY(100%);
  transition: transform .3s ease-out;

  &.visible {
    transform: translateY(0);
  }

  @include breakpoint(desktop) {
    $width: 200px;
    bottom: auto;
    left: calc(50% - #{$width / 2});
    top: 0;
    transform: translateY(-100%);
    width: $width;
  }

  @include el(icon) {
    animation: 1s linear spin-loading-indicator infinite;
    color: get-color(blue);
    margin-left: 10px;
    vertical-align: middle;
  }
}
