@import "app/styles/lib";

.project-tabs {
  @include breakpoint(desktop) {
    display: flex;
  }

  .wrapper {
    @include breakpoint(desktop) {
      flex: 0 0 20%;
      margin-right: 25px;
    }
  }

  @include el(tab-list) {
    background: #fff;
    border: 1px get-color(blue) solid;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    list-style: none;
    margin: 0 0 10px;
    padding: 15px 0;

    @include breakpoint(desktop) {
      flex-direction: column;
      font-size: 2.1rem;
      padding: 10px;
    }

    a {
      color: get-color(dark-gray);

      &.active {
        color: get-color(blue);
      }

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    li {
      margin-right: 25px;

      &:last-child {
        margin-right: 0;
      }

      @include breakpoint(desktop) {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
